<div class="p-grid p-fluid">

    <!-- [Temp] Contiene: Identificador (1.1) -->
    <div *ngIf="objectOptions.o1_1" class="p-col-12">
        <h5>1.1 - {{"Identificador" | translate}}</h5>

        <div class="card">
            <div class="p-fluid p-formgrid p-grid">
                <label for="catalogo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Catálogo" | translate}}</label>
                <div class="p-field p-col">
                    <input [(ngModel)]='identifierCatalog[0]' type="text" pInputText>
                </div>
                <label for="entrada" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Entrada" | translate}}</label>
                <div class="p-field p-col">
                    <input [(ngModel)]='identifierEntry[0]' id="entrada" type="text" pInputText>
                </div>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Titulo (1.2) -->
    <div *ngIf="objectOptions.o1_2" class="p-col-12">
        <h5>1.2 - {{"Título" | translate}}</h5>

        <div class="card">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 ">
                    <label for="titulo">{{"Título" | translate}}</label>
                    <input [(ngModel)]='title[0]' id="titulo" type="text" pInputText>
                </div>
            </div>
        </div>
    </div>

    <!-- [Temp] Complementar con: Idioma (1.3) -->
    <div *ngIf="objectOptions.o1_3" class="p-col-12">
        <h5>1.3 - {{"Idioma"|translate}}</h5>

        <div class="card">
            <div class="p-fluid">
                <p-dropdown [(ngModel)]='languageSelected[0]' [options]='languageOptions' name='languageSelected' (onChange)="changeLanguage()" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true">
                    <ng-template pTemplate="item" let-item>
                        {{item.label}}
                    </ng-template>
                    <ng-template let-selectedItem pTemplate="selectedItem">
                        {{selectedItem.label}}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>

    <!-- [Temp] Complementar con: Descripción (1.4)  -->
    <div *ngIf="objectOptions.o1_4" class="p-col-12">
        <h5>1.4 - {{"Descripción"|translate}}</h5>

        <div class="card">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <textarea [(ngModel)]='description[0]' id="descripcion" type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Palabras Clave (1.5) -->
    <div *ngIf="objectOptions.o1_5" class="p-col-12">
        <h5>1.5 - {{"Palabra Clave" | translate}}</h5>
    
        <button pButton pRipple type="button" icon="pi pi-plus" title="Add Column" (click)="addKeyword()" [disabled]="keywords.length === 20" class="p-mr-2"></button>
        <button pButton pRipple type="button" icon="pi pi-minus" title="Remove Column" (click)="removeLastKeyword()" [disabled]="keywords.length === 1"></button>
        <div class="p-grid p-mt-2">
            <div class="p-col" *ngFor="let key of keywords; let i" [@animation]="'visible'">
                <div class="box">{{i}}</div>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Ámbito (1.6) -->
    <div *ngIf="objectOptions.o1_6" class="p-col-12">
        <h5>1.6 - {{"Ámbito" | translate}}</h5>

        <div class="card">
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 ">
                    <label for="ambito">{{"Ámbito" | translate}}</label>
                    <input id="ambito" [(ngModel)]='coverage[0]' type="text" pInputText>
                </div>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Estructura (1.7) -->
    <div *ngIf="objectOptions.o1_7" class="p-col-12">
        <h5>1.7 - {{"Estructura" | translate}}</h5>

        <div class="card">
            <div class="p-fluid">
                <p-dropdown [(ngModel)]='structureSelected[0]' [options]='structureOptions' name='structureSelected' (onChange)="changeStructure()" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true">
                    <ng-template pTemplate="item" let-item>
                        {{item.label| translate }}
                    </ng-template>
                    <ng-template let-selectedItem pTemplate="selectedItem">
                        {{selectedItem.label | translate }}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Nivel de agregación (1.8) -->
    <div *ngIf="objectOptions.o1_8" class="p-col-12">
        <h5>1.8 - {{"Nivel de Agregación" | translate }}</h5>

        <div class="card">
            <div class="p-fluid">
                <p-dropdown [(ngModel)]='aggregationLevelSelected[0]' [options]="aggregationLevelOptions" name='aggregationLevelSelected' (onChange)="changeAggregationLevel()" placeholder='{{"Seleccionar" | translate}} ' [showClear]="true">
                    <ng-template pTemplate="item" let-item>
                        {{item.label| translate }}
                    </ng-template>
                    <ng-template let-selectedItem pTemplate="selectedItem">
                        {{selectedItem.label | translate }}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>

    <!-- [Temp] Además tiene: Divisor con funcionalidad para las Palabras Clave -->
    <p-dialog [(visible)]="keywordDialog" [style]="{width: '450px'}" header="" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" pInputText id="nombrePalabraK" [(ngModel)]="word" required autofocus />
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancel()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewKeyword()"></button>
        </ng-template>
    </p-dialog>
    
</div>