<div class="p-grid">
    <div class="p-col-12">
        <div class="card">
            <div class="p-mb-3 p-text-center">
                <h1>{{"Home.title" | translate}}</h1>
            </div>

            <div class="p-mb-3 p-text-center">
                <h5>{{"Home.subtitle" | translate}}</h5>
            </div>

            <div *ngIf='fileCharger; then thenBlock else elseBlock'></div>

            <ng-template #thenBlock>
                <div class="p-field-radiobutton">
                    <p-checkbox id='pp' [(ngModel)]='switch' binary="true" (click)='showDownloadWarning()'></p-checkbox>
                    <label for="pp">{{ "Home.uploadAnother" | translate}}</label>
                </div>

                <div *ngIf='switch'>
                    <p-fileUpload (uploadHandler)="onUpload($event)" customUpload="true" multiple="multiple" accept=".rar,.zip,.xml" 
                        maxFileSize="1000000000000" validateContentType="true" fileLimit="1" 
                        [chooseLabel]="'Home.chooseFile' | translate" [uploadLabel]="'Home.uploadFile' | translate" [cancelLabel]="'Home.cancel' | translate">
                    </p-fileUpload>
                </div>
            </ng-template>

            <ng-template #elseBlock>
                <p-fileUpload (uploadHandler)="onUpload($event)" customUpload="true" multiple="multiple" accept=".rar,.zip,.xml" 
                    maxFileSize="1000000000000" validateContentType="true" fileLimit="1" 
                    [chooseLabel]="'Home.chooseFile' | translate" [uploadLabel]="'Home.uploadFile' | translate" [cancelLabel]="'Home.cancel' | translate">
                </p-fileUpload>
            </ng-template>

            <p-messages></p-messages>
        </div>
    </div>
</div>
