<div class="p-grid">

    <!-- [Temp] Contiene: Tipos (7.1) -->
    <div *ngIf="objectOptions.o7_1" class="p-col-12 ">
        <h5>7.1 - {{"Relation.kind.kind" | translate}}</h5>

        <div class="card">
            <div class="p-fluid">
                <p-dropdown [options]="kindOptions" [(ngModel)]='kindSelected' name='kindSelected' (onChange)='changeKind()' placeholder='{{"Common.select"| translate}} ' [showClear]="true">
                    <ng-template pTemplate="item" let-item>
                        {{item.label| translate }}
                    </ng-template>
                    <ng-template let-selectedItem pTemplate="selectedItem">
                        {{selectedItem.label | translate }}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Recurso 7.2) -->
    <div *ngIf="objectOptions.o7_2" class="p-col-12 ">
        <h5>7.2 - {{"Relation.resource" | translate}}</h5>

        <div class="card">
            <div *ngIf="objectOptions.o7_2_1" class="p-fluid">
                <h6> 7.2.1 - {{"Common.identifier.identifier" | translate}}</h6>

                <div class="p-field p-grid">
                    <label for="catalogo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Common.identifier.catalog" | translate}}</label>
                    <div class="p-col-12 p-md-10">
                        <input id="catalogo" [(ngModel)]='resourceIdentifierCatalog' type="text" pInputText>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="entrada" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{"Common.identifier.entry" | translate}}</label>
                    <div class="p-col-12 p-md-10">

                        <input id="entrada" [(ngModel)]='resourceIdentifierEntry' type="text" pInputText>
                    </div>
                </div>
            </div>

            <div *ngIf="objectOptions.o7_2_2" class="card">
                <h6>7.2.2 - {{"Common.description" | translate}}</h6>

                <div class="p-fluid">
                    <textarea id="descripcion" [(ngModel)]='resourceDescription' type="text" rows="4" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>

</div>