<div class="p-grid">

    <!-- [Temp] Contiene: Propósito (9.1) -->
    <div *ngIf="objectOptions.o9_1" class="p-col-12">
        <h5>9.1 - {{"Classification.purpose.purpose"| translate}}</h5>

        <div class="card">
            <div class="p-fluid">
                <!-- [(ngModel)]="selectedDrop" -->
                <p-dropdown [options]="purposeOptions" [(ngModel)]='purposeSelected' name='purposeSelected' (onChange)='changePurpose()' placeholder='{{"Common.select" | translate}} ' [showClear]="true">
                    <ng-template pTemplate="item" let-item>
                        {{item.label| translate }}
                    </ng-template>
                    <ng-template let-selectedItem pTemplate="selectedItem">
                        {{selectedItem.label | translate }}
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Ruta taxonómica (9.2) -->
    <div *ngIf="objectOptions.o9_2" class="p-col-12">
        <h5>9.2 - {{"Classification.taxonPath"| translate}}</h5>

        <div class="card">
            <div *ngIf="objectOptions.o9_2_1" class="card">
                <h6>9.2.1 - {{"Classification.source"| translate}}</h6>

                <div class="p-fluid">
                    <input id="fuente" [(ngModel)]='taxonPathSource' type="text" pInputText>
                </div>
            </div>

            <div *ngIf="objectOptions.o9_2_2" class="card">
                <h6>9.2.2 - {{"Classification.taxon"| translate}}</h6>

                <div class="card">
                    <div class="p-fluid p-formgrid p-grid">
                        <label for="id" >Id</label>
                        <div class="p-field p-col">
                            <input id="id" [(ngModel)]='taxonPathId' type="text" pInputText>
                        </div>
                        
                        <label for="entrada">{{"Classification.entry" | translate}}</label>
                        <div class="p-field p-col">
                            <input id="entrada" [(ngModel)]='taxonPathEntry' type="text" pInputText>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [Temp] Contiene: Descripción (9.3) -->
    <div *ngIf="objectOptions.o9_3" class="p-col-12">
        <h5>9.3 {{"Common.description"| translate}}</h5>

        <div class="card">
            <div class="p-fluid">
                <!-- <label for="descripcion">Descripción</label> -->
                <textarea id="descripcion" [(ngModel)]='description' type="text" rows="4" pInputTextarea></textarea>
            </div>
        </div>
    </div>

</div>